apnsTownsAppIdentifier: {{ notificationService.apnsTownsAppIdentifier }}
image:
  tag: "{{ notificationService.image.tag }}"
resources:
  {{ notificationService.resources | to_yaml | indent(2) }}

logLevel: {{ notificationService.logLevel | default('info') | lower }}

notifications:
    ColdStreamsEnabled: {{ notificationService.ColdStreamsEnabled | default('false') | lower }}
